body{
   background-color:#F0ECEC;
   font-family: "Roboto", sans-serif;
}

.main-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/forma.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
h1{
    color:  #8FC1CE;
    text-align: center;
    font-size: 50px;
    margin-bottom: 55px;
}

.form-login{
    width: 40%;
    margin-left: 60px;
}

label{
    color:  #8FC1CE;
    font-size: 27px;
    font-weight: 900;
    margin-left: 15px;
}
input{
    width: 90%;
    background-color: #FFF;
    outline: none;
    padding: 22px;
    border-radius: 15px;
    border: 1px solid  #8FC1CE;
    margin-bottom: 20px;
}

p{
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight:900;
    font-size: 27px;
    text-align: center;
    color: #8FC1CE;
}

.button-main{
    display: block;
    font-weight: 900;
    border-radius: 15px;
    padding: 22px;
    font-size: 27px;
    background-color: #8FC1CE;
    color: #fff;
    width: 90%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover{
        opacity: 0.85;
        padding: 25px;
    }
}
