body{
   background-color:#F0ECEC;
    font-family: 'Open Sans',Arial,sans-serif;
}

.login__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.login-image{
    width: 110%;
}
.main-login{
    width: 40%;
}
h1{
    color:  #5D5FEF;
    text-align: center;
    font-size: 50px;
    margin-bottom: 55px;
}

label{
    color:  #5D5FEF;
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}
input{
    width: 90%;
    background-color: #FFF;
    outline: none;
    padding: 22px;
    border-radius: 15px;
    border: 1px solid  #5D5FEF;;
    margin-bottom: 20px;
}

p{
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #5D5FEF;
}

.button-main{
    display: block;
    font-weight: bold;
    border-radius: 15px;
    padding: 22px;
    font-size: 22px;
    background-color: #5D5FEF;
    color: #fff;
    width: 90%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover{
        opacity: 0.65;
        padding: 25px;
    }
}
