@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    display: flex;
}

.form-image {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #5D5FEF;
    height: 100vh;

}

.form-image img {
    width: 100%;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 35px;
    color: #5D5FEF;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button a {
    border: none;
    background-color: #5D5FEF;
    padding: 12px 70px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.login-button a:hover {
   opacity: 0.85;
   padding: 15px 80px;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 13rem;
    height: 0.3rem;
    background-color: #5D5FEF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin-bottom: 20px;
    padding: 20px 70px;
    border: 1px solid #5D5FEF;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #0000001c;
    font-size: 0.8rem;
    
}

.input-box input#data_nascimento{
    padding:20px 100px;
}
.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #5D5FEF;
}

.input-box label {
    font-size: 18px;
    font-weight: 600;
    color: #5D5FEF;
    text-align: center;
}

.input-box input::placeholder {
    color: #000000be;
    font-size: 15px;
    text-align: center;
}


.btn-submit{
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #5D5FEF;
    padding: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-decoration: none;

    &:hover{
        opacity: 0.85;
        padding: 22px;
    }
}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}